.list-group{
  position: absolute;
  width: 100%;
}

.list-group-item.link{
  padding: 5px 1px;
}
.list-group-item.link:hover{
  background-color: rgb(78, 145, 245);
}

a.link-donor{
  color: black;
}
a.link-donor:hover{
  color: white;
  text-decoration: none;
}
.media-left{
  display: inline-block;
}
#fav{
  color: #959595;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}