.autocomplete-items{
    background-clip: padding-box;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: block;
    float: left;
    left: 0;
    list-style: none;
    margin: 0 0 0 0;
    padding: 4px 0;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 1040;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.autocomplete-item{
    display: block;
    clear: both;
    color: #555555;
    cursor: pointer;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    text-decoration: none;
    white-space: nowrap;
}

.autocomplete-item:hover{
    border-bottom: 1px solidrgb(166, 214, 253);
    background-color: rgb(166, 214, 253);
}