button:hover, a:hover{
  opacity: .9;
}
@media (max-width: 575.98px) { 
  .is-btn-sm-block{
    display:block;
    width: 100%; 
  }  
}

.is-menu-button{
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 8px 15px;
  padding: 10px 15px;
}

.is-menu-button:hover{
  color: white;
  text-decoration: none;
}

.is-panel-button{
  border-radius: 1.5rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}

.is-panel-button:hover{
  color: white;
  text-decoration: none;
}

.is-btn-bg-red{
  background-color: #ed1a3b;
  border-color: #ed1a3b;
}

.is-btn-bg-dark{
  background-color: #050000;
  border-color: #050000;
}

.toggleable-button {
  display: none;
}

.toggleable-button.is-active {
  animation: backInDown; 
  animation-duration: .5s; 
  display: block;
	height: auto;
}

.is-btn-lg{
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  line-height: 45px;
  margin: 8px 15px;
  padding: 0 8px;
  text-align: center;
  text-transform: uppercase;
  width: 258px;
}

.is-btn-lg:hover{
  text-decoration: none;
  color: #ffffff;
  opacity: .9;
}

button.btn-red{
  color: #fff;
  background-color: #ED1A3D;
  border-color: #ED1A3D;
}

button.btn-red:hover{
  color: #fff;
  opacity: 90%;
}

a.btn-red{
  color: #fff;
  background-color: #ED1A3D;
  border-color: #ED1A3D;
}

a.btn-red:hover{
  color: #fff;
  opacity: 90%;
}
