.panel-heading{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.links-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.emp-profile{
  background: #fff;
  border-radius: 0.5rem;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3%;
}

.toggleable-content {
  display: none;
}

.toggleable-content.is-active {
  display: block;
	height: auto;
  animation: fadeInDown; 
  animation-duration: .5s; 
}
